.open-sans-regular {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.open-sans-thin {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-Extrabold {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-italic {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

/* global  */
body {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  font-family: "Open Sans", serif;
  font-size: 18px;
  line-height: 30px;

  font-weight: 400;

  color: #000;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  line-height: 50px;

  font-weight: 700;
}

.strong {
  font-size: 50px;
  line-height: 50px;

  font-weight: 300;
}

.link {
  font-size: 24px;
  line-height: 24px;

  font-weight: 400;

  color: #d22856;
  text-decoration: underline;
}

.btn {
  box-sizing: border-box;
  width: 300px;
  height: 54px;

  font-size: 21px;
  font-weight: 700;

  text-align: center;
  line-height: 24px;
  background-color: transparent;
  color: #fff;

  border-radius: 36px;
  border: 1px solid rgb(255, 255, 255);
}

.visually-hidden {
  position: absolute; /* Виводимо елемент з потоку документа */
  width: 1px; /* Мінімізуємо розмір */
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden; /* Приховуємо вміст за межами елемента */
  clip: rect(0, 0, 0, 0); /* Обрізаємо до нуля */
  white-space: nowrap; /* Запобігаємо переносу тексту */
  border: 0;
}

/* header  */
.header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  width: 1200px;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.3);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.header__nav-item .link {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}

.header__logo .st0 {
  fill: #fff;
}

.header__logo .st1 {
  fill: #d22856;
}
/* hero */

.hero {
  margin-left: -130px;

  width: 1200px;
  height: 853px;
  background-image: url(../img/back-desktop.jpg.png);
}

.hero__cover {
  padding-top: 210px;
  display: flex;

  color: white;
}

.hero__left-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 300px;
  margin-right: -260px;

  gap: 60px;
  z-index: 1;
}

.hero__strong {
  text-align: center;
}

.hero__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;

  text-align: center;
}

.hero__icon-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero__icon-list .hero__icon-item:first-child svg .st0 {
  fill: #ffffff;
  stroke: #ffffff;
}

.hero__icon-list .hero__icon-item:nth-child(2) svg .st0 {
  fill: #a4c639;
  stroke: #a4c639;
}

.hero__icon-list .hero__icon-item:last-child svg .st0 {
  fill: #f05423;
  stroke: #f05423;
}

.hero__icon-list .hero__icon-item:last-child svg .st1 {
  fill: #84c441;
}

.hero__right-wrapper {
  position: relative;
}

.hero__img-scrin {
  position: absolute;
  top: 62px;
  left: 567px;
  width: 231px;
}

.hero__img-iphon {
  width: 1046px;
}

/* advantages  */

.advantages__img-scrin {
  width: 208px;
}

.advantages__img-iphon {
  width: 245px;
}
